# Prerequisites
# Object files

**/*.o
**/*.obj
*/.*
**/*.log


**/*.config
**/*.status

/bin/id[0-9]
/bin/*put
bin/athena
src/defs.h

**/Makeoptions
**/Makefile


**/Makedepend
**/.DS_Store

bin/*
!/bin/athinput.torus10

.*
!/.gitignore